{% extends "base.html" %}
{% load static %}
{% load cart_custom_functions %}

{% block page_header %}
<div class="container">
    <div class="top-section"></div>
</div>
{% endblock %}

{% block page_content %}
<div class="overlap"></div>
<div class="container mb-2">
    <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Cart</h2>
                <hr>
            </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_item_list %}
                <div class="table-responsive rounded">
                    <h5> Your Shoopping Cart {% if cart_product_count != 0 %} ({{ cart_product_count }}) item{{ cart_product_count|pluralize }} {% endif %}
                    </h5>
                    <table style="width:100%">
                        <tr class="hr-bg">
                            <th class="cart-col">Product</th>
                            <th></th>
                            <th class="cart-col">Price</th>
                            <th class="cart-col">Quantity</th>
                             <th class="cart-col">Subtotal</th>   
                        </tr>
                         {% for item in cart_item_list %}
                        <tr>
                            <td class="cart-col" style="width:25%">
                                {% if item.cart_product.image %}
                                    <a href="{{ item.cart_product.image.url }}" target="_blank">
                                        <img class="img-responsive" src="{{ item.cart_product.image.url }}" alt="{{ item.cart_product.name }}">
                                    </a>
                                {% else %}
                                    <a href="#">
                                        <img class="img-responsive" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.cart_product.name }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td class="cart-col py-3" style="width:25%">
                                <p class="my-0">{{ item.cart_product.name }}</p>
                                <p class="my-2">sku: {{ item.cart_product.sku }}</p>
                                <p class="my-2"><strong>Size: </strong>
                                    {% if item.cart_product.has_sizes %}
                                        {{ item.product_size|upper }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </p>
                            </td>
                            <td class="cart-col py-3">
                                <p class="my-0">{{ item.cart_product.price }}</p>
                            </td>
                            <td class="cart-col py-3 links-align">
                                <form class="form update-form" action="{% url 'update_cart_qty' item.item_id %}" method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <div class="form-group w-50 mx-auto mx-md-0 mx-l-0 mx-xl-0" >
                                            <div class="input-group">
                                                <input class="form-control qty_input" type="number" name="quantity" value="{{ item.item_quantity }}" min="1" max="50" >
                                            </div>
                                        </div>
                                        <!--<p class="my-0">{{ item.item_quantity }}</p> -->
                                        {% if item.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.cart_product.price }}">
                                        {% endif %}
                                    </div>
                                </form> 
                                <a class="update-link text-info" id="a-padding"><small>Update</small></a>
                                <a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-product-size="{{ item.product_size }}"><small>Remove</small></a>   
                            </td>
                            <td class="cart-col py-3">
                                <p>{{ item.cart_product.price|item_subtotal:item.item_quantity }}</p>  
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="hr-bg">
                            <td colspan="5" class="pt-2 pr-2 text-right">
                                <h6><strong>Cart Total: ${{ cart_total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery_cost|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right pt-3">
                                <a href="{% url 'products' %}" class="btn btn-border-style rounded-0">
                                    <span class="icon">
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="" >    <!-- class="btn btn-black rounded-0 btn-lg" -->
                                <div class="btn std-button rounded-0 text-uppercase">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>    
                                </a>
                            </td>
                        </tr>
                    </table>  
                </div>
                {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block load_last_js %}   
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var product_size = $(this).data('product_size');
        var url = `/cart/remove_item_from_cart/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': product_size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}