{% extends "base.html" %}
{% load static %}


{% block page_header %}

{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row"  id="slideshow">
        <div class="col-4 banner-home1 slider"> 
        </div>
        <div class="col-4 banner-home2 slider"> 
        </div>
        <div class="col-4 banner-home3 slider"> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 highlight-section"></div>
    </div>

    <div class="row">
        <div class="col">
        {% if welcome_msg %}
            <p> Aca el mensage: {{ welcome_msg }} </p>
        {% endif %}
        </div>
    </div>
</div>  
{% endblock %}
