{% extends "base.html" %}
{% load static %}

{% block title_extension %}  - Appointment History {% endblock %} 

{% block page_header %}
<div class="container">
    <div class="top-section"></div>
</div>
{% endblock %}

{% block page_content %}
<div class="overlay" id="overlay-section"></div>
<div class="container" id="container-section" >
    <div class="row">
		<div class="col">
			<hr>
			<h2 class="logo-font mb-4">Your Appointment History</h2>
			<hr>
		</div>
	</div>
    <div class="row">
        <div class="col-12">
			<table class="table table-sm table-borderless">
				<thead>
					<tr>
						<th>Number</th>
                        <th>Made By</th>
						<th>Date</th>
						<th>Time</th>
						<th>Reason</th>
                        <th>Notes</th>
					</tr>
				</thead>
				<tbody>
					{% for appointment in appointments %}
					<tr>
						<td>
                            <a href="{% url 'display_appointment_detail' appointment.number %}" title="{{ appointment_number }}">
								{{ appointment.number|truncatechars:6 }}
							</a>
                        
                         
						</td>
                        <td>{{ appointment.customer_fullname }}
                            <ul class="list-unstyled">
                                <li class="small">
                                    {{ appointment.customer_phone }}
                                </li>
                                <li class="small">
                                    {{ appointment.customer_email }}
                                </li>
                            </ul>
                        </td>
						<td> {{ appointment.appointment_date }}</td>
						<td> {{ appointment.appointment_time }}</td>
						<td> {{ appointment.reason }}</td>
                        <td> {{ appointment.notes }}</td>
					</tr>
                    {% empty %}
                        There are appointment records for our account.    
					{% endfor %}
				</tbody>
			</table>
        </div>
    </div>
</div>

{% endblock %}

{% block load_last_js %}
{{ block.super }}

<script type="text/javascript">
   /* for devices other than cellphones, set the footer to tbe bottom when there is no content on the page */
        var wWrapper = document.getElementById('overlay-section').scrollWidth;
        var hContainer = document.getElementById('container-section').scrollHeight;

        if (wWrapper > 375  && hContainer >= 129 && hContainer <= 300) {
            document.getElementById("footer-section").setAttribute("style","position:absolute; bottom:0;");
        }  
</script>

{% endblock %}