.order-history{
    max-height:416px; /* height of profile form + submit button   */
    overflow-y: auto
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child){
    color: #000;
}

#id_default_country option:first-child{
    color: #aab7c4;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color:  rgb(202, 245, 199); /*#80bdff;*/
    outline: 0;
    box-shadow: 0 0 0 0.1rem  #1A8849;  /*rgba(0,123,255,.25); */
}

.form-group {
    color: #000;
    border: 0.5px #36250C solid; /*black */
    border-radius: 3px !important;
}