@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap:100,200,300,400,500,600,700');

html,
body {
    font-family: 'Poppins', sans-serif;
} 

.nav-wrapper, .navbar{
    background-color: #36A21E !important;
}


.navbar-nav > li > a {
    color: #fafafa !important;
    font-weight: 500;
    font-size: 1.2rem;
}


.nav-link {
    transition: all 250ms ease-in-out;
}

/* Override font folor on top navigation bar */
.navbar-nav .nav-item:hover .nav-link  {
    color: #36250C !important;
}

.nav-style {
    padding: 15px;
}

.navbar-collapse {
    flex-grow:0;
}

.nav-link {
    padding: .5rem .4rem;
}


.fa-user:hover,
.fa-shopping-cart:hover {
    color: #36250C !important;
    transition: all 250ms ease-in-out;
}

.cart-count {
    color: rgb(255, 208, 0);
    font-weight: 800;
}


.shop-menu, .shop-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(202, 245, 199); 
}

.shop-menu > li > a {
    color: black;
} 

.drop-pad {
    padding:10px;
    margin-left: 25px; 
    background: rgb(202, 245, 199);
}

.dropdown-divider {
    margin:.2rem 0;
    border-top: .1px solid black;
}

#navbar-icons-desktop{
    position:absolute;
    right: 1%;
}

#navbar-icons-desktop ul > li  {
    display:inline-block;
}

#navbar-icons-mobile ul > li  {
    display:inline-block;
}

.logo-section{
    position: fixed;
    left: 30%; 
}

.logo {
    width: 35%;
    height: 35%;
}

.drop-left {
    left: auto !important;
    right: 0 !important;
}

.a-underline {
    text-decoration: underline;
}

.search-bar-mobile{
        border: 1px solid green !important;
        border-radius: 3px !important;
    }

#search-button {
    position: absolute;
    left: 200px;
    color: white;
    background-color: green;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#search-button:hover {
    background-color:#36250C ;
    box-shadow:transparent;
}


/****** Banner Section *******/

.banner-home1,.banner-home2,.banner-home3 {
    border-left:5px solid rgb(202, 245, 199); 
    border-right:5px solid rgb(202, 245, 199); 
}


.banner-home1, .banner-home2, .banner-home3 {
    background:url('/media/kayak_banner.jpeg') no-repeat center center;
}

.banner-home2 {
    background:url('/media/bicycle_banner.jpeg') no-repeat center center;
}

.banner-home3 {
    background:url('/media/paddleboard_banner.jpeg') no-repeat center center;
}

.banner-services {
    background:url('/media/banner-services.jpg') no-repeat center center;
}

.banner-about {
    background:url('/media/banner_about_us.jpg') no-repeat center center;
}

.banner-404-505 {
    background:url('/media/404-505.jpeg') no-repeat center center;
    background-size: cover;
    height: 40vh;
}

.banner-services,
.banner-about, .banner-404-505 {
    background-size: cover;
    height: 40vh;
}

/**** Google Maps ****/
#googlemap{
    width: 50%;
    height: 200px;
    margin: auto;
}
    
/**** Highlight Section  *****/
.highlight-section {
    height: 50vh;
    background-color: rgb(202, 245, 199);
}

.business-highlight{
    width: 100%;
    height: auto;
    background-color: green;
    color: white; 
    text-align: center;
    margin: auto;
    padding: 20px;
}

.icon-style {
    font-size:60px !important;
    color:#36250C;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(202, 245, 199);
  z-index: -1;
  }

.top-section{
   padding-top: 100px;
   width: 100%;
   padding-bottom:10px;
}


.breadcrumb {
    background-color:  rgb(202, 245, 199) !important;    
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.breadcrumb-item.active {
    color: #455a64; }

ol.breadcrumb li a,  ol.breadcrumb li i {
  color: #388e3c;;
  text-decoration: none; 
}

.page-heading {
    position: absolute;
    top: 80%;
    padding-top: 20px;
}

.divider-x {
    padding-top:40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.sorting-box {
    padding: 5px;
    border-radius:3px;
}


/* Product pages */
.product-title, .product-brand {
    color: #1A8849;
    margin:0%;
    font-size: 1em;
    font-weight:500;
}

.product-brand{
    font-family: 'Acme', sans-serif;
}

 .product-price, .product-price-dtl, 
 .product-brand-dtl, .product-title-dtl {
     color: black;
 }

.product-brand-dtl {
    font-size: 1.8em;
    font-weight:500;
}

.product-title-dtl{
    margin:0%;
    font-size: 1.4em;
    font-weight:500;
}

.product-price, .product-title{
    font-size: 1em;
    font-weight: 600;
}

.product-price-dtl {
    font-size: 1.4em;
    font-weight: 700;
}


.star-checked {
    color: orange;
}

.text-green {
    color:#388e3c;
}

/******** Services page **********/

.service-block, .home-block {
    padding:20px;
    border-radius: 4px;
    background-color: /*#f1f3f5; */ rgb(240, 230, 216);
     -webkit-box-shadow: 0 0 10px #388e3c;  
    -moz-box-shadow: 0 0 10px #388e3c;
     box-shadow: 0 0 10px #388e3c;
    -o-box-shadow: 0 0 10px #388e3c;
    -ms-box-shadow: 0 0 10px #388e3c;
    height:auto;
    width: 100%; 
}

.service-p {
    padding: 40px 90px 40px 90px;
}


/********* About us page *********/
.store-img {
    width: 100%;
    padding: 15px;
}


/****** Back to top arrow button *******/

#return-to-top-btn {
    padding: 8px;
}

.style-arrow-btn {
   color:rgb(202, 245, 199);
}

.setHiddenTop {
    bottom: -100px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}


/* this effect hides the element */
.setBackTop .setHiddenTop {
    bottom: -100px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.setBackTop {
    background-color:#388e3c;
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 10px;
    border-radius: 0;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    display: block;
    text-align: center;
    -webkit-transition: all .3s ease-in-out 0s; 
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
    border: .5px solid black;
}


/* Update and Remove links in the Shopping Cart webpage */
.update-link, 
.remove-item {
    cursor: pointer;
}

/* Container for Toast messages */
.message-container {
    position:fixed;
    top: 85px; 
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow:visible;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fa-check {
    color: #388e3c;
    padding-right:5px;
}

.fa-times {
    color: darkred;
    padding-right:5px;
}

.fa-info {
    color: blue;
    padding-right:5px;
}

.fa-exclamation {
    color: darkorange;
    padding-right:5px;
}

.bg-success, .bg-warning, .bg-danger, .bg-info {
    background-color: white !important;
}

.bg-success {
    border-bottom: 1px solid #388e3c;
}
.bg-warning {
    border-bottom: 1px solid darkorange;;
}
.bg-danger {
    border-bottom: 1px solid darkred;
}
.bg-info {
    border-bottom: 1px solid blue;
}


/**** product detail ******/

.img-detail{
    width: 100%;
}

.img-responsive{
    width: 100%;
    height: auto;
}

.seCartItemImage { 
    position: relative;
    float: left;
    width: 58.3333333333%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 8;
}

.seCartItemMeta {
    position: relative;
    float: left;
    width: 58.3333333333%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 8;
}

.cart-col {
    padding: 5px;
    vertical-align: top;
}

.hr-bg {
    background-color: #fafafa; 
}

.links-align {
    text-align: center;
}


/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/****** Buttons ********/

.btn-border-style, .btn-border-style-lite {
    border:1px #36250C solid;
    background:#fafafa;
    color: black !important; 
    border-radius: 3px !important;
}

.btn-border-style:hover,
.btn-border-style:active,
.btn-border-style:focus {
    background: #388e3c;
    color: #fafafa !important; 
}


.btn-border-style-lite:hover,
.btn-border-style-lite:active,
.btn-border-style-lite:focus {
    background:  rgb(215, 233, 214);
}

.std-button {
    border:1px black solid;
    background:#388e3c;
    color: #fafafa !important; 
    border-radius: 3px !important;
}

.std-button:hover,
.std-button:active,
.std-button:focus {
    background:#2f8133; 
}

/***** allauth forms styling ****/
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 3px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color:  #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #388e3c;
    border-color: #388e3c;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color:  #17a2b8; 
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color:  rgb(202, 245, 199); 
    outline: 0;
    box-shadow: 0 0 0 0.1rem  #1A8849; 
}

/***************  Footer *****************/

footer {
   background-color:#36250C;
   color:#fafafa;
   width: 100%;
 }

/* Style footer section */
.footer-title {
    padding:5px;
    font-size: 19px;
    text-align: center;
}

#footer-details {
   padding: 25px;
 }


#menu-widget-2, #social-media  {    
    padding: 15px;
    text-align: center; 
}

.copyright-statement {
    font-size: 12px;
    text-align: center;
 }

#menu-widget-2 ul {
  padding-left: 85px;
  list-style: none;
 }

#menu-widget-2 li{
   font-size: 18px;
 }

#menu-widget-2 li a {
   color: inherit;
}

#menu-widget-2 li a:hover{
    opacity: .8;
    text-decoration: none;
 }

#social-media {            
    display: block; 
    text-align: center; 
} 

#social-media a {
    padding: 10px;
 }

#social-media a:hover{
    opacity: .8;
 }

 #location-info {
    text-align: center;
 }


/****** Media Queries  *****/

@media (min-width: 1024px) and (max-width:1030px) {
    .logo-section {
            position: fixed;
            left:45%;
        }
    .top-section {
        padding-top: 150px;
    }
}

@media (min-width: 1030px)  {

    .logo-section {
        display: inline-block;
        position: static;
    }

    .banner-home1,
    .banner-home2,
    .banner-home3, 
    .banner-about, 
    .banner-services,
    .banner-404-505 {
        height: 85vh;
    }

}

@media only screen and (min-width: 993px){
    .nav-style > li { 
        padding-left: 25px;
        padding-right: 25px;
    }


    /* Search Bar*/
    .search-bar {
        position: absolute;
        right: 150px;
        padding: 5px;
    }

    .form-control {
        padding:1px;
    }

    .search-bar .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 22.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    } 

    .form-control-feedback:after{
        color: transparent;
    } 
}


@media only screen and (min-width: 767px) and (max-width:1020px){
    .logo-section {
            position: fixed;
            left:42%; 
        }

    .links-align {
        text-align: unset;
    }
}      


@media only screen and (min-width: 768px) {
    .links-align {
        text-align: unset;
    }
    #a-padding{ 
        padding-right: 5px;
    }

}
