
.nav-wrapper {
    background-color: #36A21E !important;
}

.navbar {
   background-color: #36A21E !important; 
}

.navbar-nav > li > a {
    color: #fafafa !important;
}

.nav-style {
    padding: 15px;
}

.shop-menu, .shop-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(202, 245, 199); 
}

.shop-menu > li > a {
    color: black;
} 

.drop-pad {
    padding:10px;
    margin-left: 25px; 
    background: rgb(202, 245, 199);  /* #CDFCC5; */
}

.dropdown-divider {
    margin:.2rem 0;
    border-top: .1px solid black; /* rgb(137, 145, 136);*/
}


/* Shopping Cart and Account Section */
.cart-section ul > li > a {
    display: inline-block !important;
    padding-right:45px;   /*eb*/
}

.logo-section{
    position: fixed;
    left:28%;
    top:1%;
}


/****** Banner Section *******/
.banner-home1 {
    background:url('/media/kayak_banner.jpeg') no-repeat center center;
    background-size: cover;
    height: 85vh;
}

.banner-home2 {
    background:url('/media/bicycle_banner.jpeg') no-repeat center center;
    background-size: cover;
    height: 85vh;
}
.banner-home3 {
    background:url('/media/paddleboard_banner.jpeg') no-repeat center center;
    background-size: cover;
    height: 85vh;
}

/**** Google Maps ****/
#googlemap{
    width: 50%;
    height: 200px;
    margin: auto;
}
    
/**** Highlight Section  *****/
.highlight-section {
    height: 50vh;
    background-color: rgb(202, 245, 199);
}


.overlap {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(202, 245, 199); /* rgb(227, 241, 226);*/
  z-index: -1;
  }


/* EB  - might need to do it only for non-mobile devices*/
.top-section{
   padding-top: 150px;
   width: 100%;
   padding-bottom:10px;
}

.breadcrumb {
    background-color: rgb(227, 241, 226);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.breadcrumb-item.active {
    color: #455a64; }


.divider-x {
    width: auto;
    border-bottom: .1rem solid rgb(150, 145, 145);
}

.product-title {
    color: #1A8849;
    margin:0%;
    font-size: 1em;
}

.product-price{
    font-size: 1em;
    color:black;
}

.product-title {
    font-size: 1em;
}

/****** Back to top arrow button *******/

#return-to-top-btn {
    padding: 8px;
}

.style-arrow-btn {
    color: #fafafa;
}

/* this effect hides the element */
.setBackTop .setHiddenTop {
    bottom: -100px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.setBackTop {
    background-color:#388e3c;
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 10px;
    border-radius: 0;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    display: block;
    text-align: center;
    -webkit-transition: all .3s ease-in-out 0s; 
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
    border: .5px solid black;
}

/* Update and Remove links in the Shopping Cart webpage */
.update-link, 
.remove-item {
    cursor: pointer;
}


/* Container for Toast messages */
.message-container {
    position:fixed;
    top: 85px; 
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow:visible;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/**** product detail ******/

.img-detail{
    width: 100%;
}

.img-responsive{
    width: 100%;
    height: auto;
}

.seCartItemImage { 
    position: relative;
    float: left;
    width: 58.3333333333%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 8;
}

.seCartItemMeta {
    position: relative;
    float: left;
    width: 58.3333333333%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 8;
}

.cart-col {
    padding: 5px;
    vertical-align: top;
}

.hr-bg {
    background-color: #fafafa; /* #cccfcd; */
}

.links-align {
    text-align: center;
}

/****** Buttons ********/
.btn-border-style {
    border:1px #36250C solid;
    background:#fafafa;
    color: black !important; 
    border-radius: 3px !important;
}

.btn-border-style:hover,
.btn-border-style:active,
.btn-border-style:focus {
    background: #388e3c;
    color: #fafafa !important; 
}

.std-button {
    border:1px black solid;
    background:#388e3c;
    color: #fafafa !important; 
    border-radius: 3px !important;
}

.std-button:hover,
.std-button:active,
.std-button:focus {
    background:#2f8133; 
}

/***** allauth forms styling ****/

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 3px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color:  #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*background-color: #000;
    border: 1px solid #000;*/
    background-color: #388e3c;
    border-color: #388e3c;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px; /* 0; */

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color:  #17a2b8; /* text-info */
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color:  rgb(202, 245, 199); /*#80bdff;*/
    outline: 0;
    box-shadow: 0 0 0 0.1rem  #1A8849;  /*rgba(0,123,255,.25); */
}

/***************  Footer *****************/

/* Style footer section */
.footer-title {
    padding:5px;
    font-size: 19px;
    text-align: center;
}

#menu-widget-2, #social-media  {    
    padding: 15px;
    text-align: center; 
}

footer {
   background-color:#36250C; /*#422E0F; */ /*#1A8849;  */
   min-height: 100px;
   color:#fafafa;
 }

#footer-details {
   padding: 25px;
 }

.copyright-statement {
    font-size: 12px;
    text-align: center; /* eb */
 }

#menu-widget-2 ul {
  padding-left: 85px;
  list-style: none;
 }

#menu-widget-2 li{
   font-size: 18px;
 }

#menu-widget-2 li a {
   color: inherit;
}

#menu-widget-2 li a:hover{
    opacity: .8;
    text-decoration: none;
 }

#social-media {            
    display: block; 
    text-align: center; 
} 

#social-media a {
    padding: 10px;
 }

#social-media a:hover{
    opacity: .8;
 }

 #location-info {
    text-align: center;
 }


/****** Media Queries  *****/

@media (min-width: 1025px) {
    .logo-section {
        display: inline-block;
        position: static;
    }
}

@media only screen and (min-width: 993px){
    .nav-style > li { 
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media only screen and (min-width: 767px) and (max-width:1024px){
    .logo-section {
            position: fixed;
            left: 44%;
            top: 1%;
        }

    .links-align {
        text-align: unset;
    }
}      


@media only screen and (min-width: 767px) {
    .links-align {
        text-align: unset;
    }
    #a-padding{ 
        padding-right: 5px;
    }

}
