{% extends "base.html" %}
{% load static %}

{% block title_extension %}  - About {% endblock %} 

{% block page_header %}
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 banner-about">
        </div>
    </div>

    <div class="overlay"></div>

    <div class="row p-5 mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12 about-text-wrapper">
            <div>
                <h4 class="text-center pt-5">Our story and concept</h4>
                <br>
                <p> Two outdoor lovers and passtionate about nature, David Becks and Michael Horn first opened Beck Outdoors in 2019 with the aim of expanding the cycling and water sports community in the Surf City area and sorrounding areas</p>
                <p> While we always have our eyes both towards  providing an excellent experience to our out of town visitors, the collective head and heart of the shop is anchored in our growing town of Surf City. Our friendly team is always engaging the community with events that involve connecting with our beautiful natural sorroundings</p>
                <p> Our inventory offers the widest range of equiprment for your cycling, kayaking and paddleboarding activities. We offer online catalog and store for your conveneince.</p>
                <p> We are focused on offering engaging and friendly service in the shop, inspiration on and off the bike, and stocking the products we believe in.</p>  
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="text-center mt-5">
                <img src="{% static 'images/store.jpg' %}" class="store-img"   alt="store image">
            </div>
        </div>
    </div>
</div>  
{% endblock %}