{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="top-section"></div>
</div>
{% endblock %}

{% block page_content %}
<div class="overlap"></div>
<div class="container">
    <div class="row">
		<div class="col">
			<hr>
			<h2 class="logo-font mb-4">Product Management</h2>
			<hr>
		</div>
	</div> 
    <div class="row mb-5">
        <div class="col-7">
            <p><strong>Add a Product</strong></p>
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in product_form_data %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-border-style rounded-0 mt-5 mr-3" href="{% url 'products' %}">Cancel</a>
                    <button class="btn std-button rounded-0 text-uppercase mt-5 float-right" type="submit">Add Product</button>
                    
                </div> 
            </form>
        </div>
        <div class="col-5">
        </div>
    </div>  
</div>

{% endblock %}

 {% block load_last_js %}   
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}