{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container">
    <div class="top-section"></div>
</div>
{% endblock %}


{% block page_content %}
<div class="overlap"></div>
<div class="container">

    <div class="row">
		<div class="col">
			<hr>
			<h2 class="logo-font mb-4">Edit Your review</h2>
			<hr>
		</div>
	</div>
    <div class="row">
        <div class="col-7 mb-5">
            <form class="mt-3" action="{% url 'edit_rating' product.id%}" method="POST" id="rating-edit-form">
                {% csrf_token %}
                {% for field in rating_form_data %}               
                    {% if field.name == 'recommend' %}
                        <label>Would you recommend this to a friend?</label>
                        {{ field }}
                    {% else %}
                        {{ field | as_crispy_field }} 
                    {% endif %}
                {% endfor %}
                <button class="btn std-button rounded-0 text-uppercase mt-5 float-right" >Save Review</button>
            </form>
        </div>
        <div class="col-5 mb-5">
        </div>
    </div> 
</div>
{% endblock %}
