{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="top-section"></div>
</div>
{% endblock %}


{% block page_content %}
<div class="overlap" id="overlap-section"></div>
<div class="container" id="container-section">

    <!-- breadcrumb -->
    {% if search_method == "breadcrumb" %}
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a><i class="fa fa-caret-right mx-2"
            aria-hidden="true"></i></li>
                        {% if category and subcategory %}
                            {% for cat in category %}
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products_by_category' cat.name %}">{{ cat.friendly_name|title }}</a>
                                <i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
                            {% endfor %}
                            {% for subcat in subcategory %}
                                 <li class="breadcrumb-item" aria-current="page">{{ subcat.friendly_name|title }}</li>
                                 <h2 class="page-heading">{{ subcat.friendly_name|title }}</h2>
                            {% endfor%}
                        {% elif category and not subcategory %}
                            {% for cat in category %}
                                <li class="breadcrumb-item" aria-current="page">{{ cat.friendly_name|title }}</li>
                                <h2 class="page-heading"> {{ cat.friendly_name|title }} </h2>
                            {% endfor%}
                        {% endif %}    
                    </ol>
                </nav>
            </div>
        </div>
    {% endif %} 

    <!-- page subtitle --> 
    <div class="divider-x mb-5"></div>   

    <!-- sort/filter drow-down -->
    {% if products|length > 1 %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                    <p>
                        <label><strong> Sort by: </strong></label>
                        <select class="sorting-box" id="sort-option">
                            <option value="reset">Sort by...</option>
                            <option value = "price_asc"><a href="{% url 'products' %}?sort=price&direction=asc">Price Low to High</a></option> 
                            <option value = "price_desc"><a href="{% url 'products' %}?sort=price&direction=desc">Price High to Low</a></option>  
                            <option value = "brand_asc"><a href="{% url 'products' %}?sort=brand&direction=asc">Brand A to Z</a></option>  
                            <option value = "brand_desc"><a href="{% url 'products' %}?sort=brand&direction=desc">Brand Z to A</a></option>  
                            {% if not subcategory %}
                                <option value = "subcategory_asc"><a href="{% url 'products' %}?sort=subcategory&direction=asc">Style A to Z</a></option>  
                                <option value = "subcategory_desc"><a href="{% url 'products' %}?sort=subcategory&direction=desc">Style Z to A</a></option> 
                            {% endif %}
                        </select> 
                    </p>
            </div>
        </div>
    {% endif %}  

    <!-- products display section-->
    {% include 'includes/productlist_display.html' %}

    <!-- back to top button -->
    {% include 'includes/backtotop.html' %}


</div> 

{% endblock %}


{% block load_last_js %}   
{{ block.super }}
<script type="text/javascript" src="{% static 'products/js/script.js' %}"></script>   

<script type="text/javascript">

    /* for devices other than cellphones, set the footer to tbe bottom when there is no content on the page */
    var wWrapper = document.getElementById('overlap-section').scrollWidth;
    var hContainer = document.getElementById('container-section').scrollHeight;
    console.log(wWrapper);
    console.log(hContainer);

    if (wWrapper >= 450 && wWrapper <= 1024  && hContainer >= 129)  {
        document.getElementById("footer-section").setAttribute("style","position:absolute; bottom:0;");
    }
 
</script>


{% endblock %}