{% extends "base.html" %}
{% load static %}

{% block title_extension %}  - Product Detail {% endblock %} 

{% block custom_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="top-section"></div>
</div>
{% endblock %}


{% block page_content %}
<div class="overlap"></div>
<div class="container">

    <!-- breadcrumb -->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a><i class="fa fa-caret-right mx-2"
          aria-hidden="true"></i></li>
                    {% if product.category %}   
                    <li class="breadcrumb-item active"><a href="{% url 'products_by_category' product.category.name %}">{{ product.category.friendly_name }}</a><i class="fa fa-caret-right mx-2"
          aria-hidden="true"></i></li>
                     {% endif %}   
                     {% if product.subcategory %}   
                    <li class="breadcrumb-item active"><a href="{% url 'products_by_category' product.subcategory.name %}">{{ product.subcategory.friendly_name }}</a><i class="fa fa-caret-right mx-2"
          aria-hidden="true"></i></li>
                     {% endif %}   
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-5">
        {% if product %}
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5"> 
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img  class="img-detail" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="#">
                        <img class="img-detail" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5"> 
                <p class="product-brand-dtl">{{ product.brand }}</p>
                <p class="product-title-dtl">{{ product.name }}</p>
                <div class="col-12 mb-4 mx-0 p-0">
                    <p class="mt-4">
                        {% if rating_count == 0 %}
                         <span class="text-muted"> No Reviews </span>
                        {% else %}
                            <!-- link takes the user to the review section on the bottom on the page -->
                            <a class="text-green" href="#review-section">  {{ rating_count }} Review{{ rating_count|pluralize }}</a>
                        {% endif %} 
                        {% if confirmed_purchase and not user_rating %}
                            <span class="ml-2">| </span>
                            <a class="text-green ml-2 a-underline" href="{% url 'add_rating' product.id %}"> Write a review</a>
                        {% endif %}
                    </p>
                    {% if rating_average %}
                        <medium class="text-md-left">Rating: {{ rating_average }} / 5 </medium>
                    {% endif %}    
                </div> 
                <p class="product-price-dtl">$ {{ product.price }}</p>
                {% if product.color %}
                    <p> <strong>Color:  </strong> {{ product.color }}</p>
                {% endif %}
                <p>{{ product.short_desc}}</p>
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    {% if product.has_sizes %}
                        <div class="col-12 p-0">
                            <p><strong>Size:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_size" id="id_product_size">
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="50" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                            <p>
                                <small>
                                    <a style="color:darkgreen;" href="{% url 'edit_product' product.id %}">Edit product</a> |
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </small> 
                            </p>     
                        {% endif %}
                        <!-- some of the code below was take from CI project example and modified for this project -->
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-border-style rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fa fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn std-button rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>        
        {% endif %}       
    </div>
    {% if rating_count > 0 %}
        <div class="row mb-5">
            <div id="review-section" class="col-7 mb-2">
                <h5>Reviewed by {{ rating_count }} customer{{ rating_count|pluralize }}</h5>
            </div> 
        </div>
        <hr>    
        <div class="row">
            <div class="col-12 mb-5 rating-wrapper">
                <p>
                    <span class="mb-2 mt-2">
                    {% for rating in rating_list %}
                        {% if rating.rating == 5 %}
                            {% for i in 'xxxxx' %}
                                <span class="fa fa-star star-checked"></span> 
                            {% endfor %}
                        <br>
                        {% elif rating.rating == 4 %}
                            {% for i in 'xxxx' %}
                                <span class="fa fa-star star-checked"></span>
                            {% endfor %}
                            {% for i in 'x' %}
                            <span class="fa fa-star star "></span>
                            {% endfor%}
                        <br>
                        {% elif rating.rating == 3 %}
                            {% for i in 'xxx' %}
                                <span class="fa fa-star star-checked"></span>
                            {% endfor %}
                            {% for i in 'xx' %}
                            <span class="fa fa-star "></span>
                            {% endfor%}
                        <br>
                        {% elif rating.rating == 2 %}
                            {% for i in 'xx' %}
                                <span class="fa fa-star star-checked"></span>
                            {% endfor %}
                            {% for i in 'xxx' %}
                            <span class="fa fa-star"></span>
                            {% endfor%}
                        {% elif rating.rating == 1 %}
                            {% for i in 'x' %}
                                <span class="fa fa-star star-checked"></span>
                            {% endfor %}
                            {% for i in 'xxxx' %}
                            <span class="fa fa-star"></span>
                            {% endfor%}
                        {% endif %}  
                    </span>
                </p>    
                <p class="mt-2"><strong> Posted by: </strong>{{ rating.nickname }} </p>
                <p><strong>Would you recommend this a friend? </strong> {{ rating.recommend|capfirst}} </p>
                <p><strong>Comments:</strong> {{ rating.comment }} </p> 
                <br>
                    {% if rating.customer == request.user and confirmed_purchase %}
                        <a style="color:darkgreen;" href="{% url 'edit_rating' product.id %}">Edit review</a> |
                        <a class="text-danger" href="{% url 'delete_rating' product.id %}">Delete review</a>
                    {% endif %}
                <hr>
                {% endfor %}
            </div>
        </div>
     {% endif %}
    <!-- back to top button -->
    {% include 'includes/backtotop.html' %}
</div>

{% endblock %}

{% block load_last_js %}
{{ block.super }}
<script>
</script>
<script type="text/javascript" src="{% static 'products/js/script.js' %}"></script>  
{% endblock %}
