<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast custom-toast" data-autohide="false">
        <div class="toast-header custom-header bg-success">
            <span >
                <icon class="fa fa-check"></icon>
            </span>
            <strong class="mr-auto">Success!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>    
        <div class="toast-body bg-white">
            <div class="row">
                <div class="col">
                    {{ message }}
                    <hr class="mt-1 mb-3">
                </div>
            </div>
            {% if grand_total and not on_profile_page %}
                <p class="logo-font bg-white text-black py-1">Your Bag ({{ cart_product_count }})</p>
                <div class="cart-notification-wrapper">
                    {% for item in cart_item_list %}
                        <div class="row">
                            <div class="col-3 my-1">
                                <img class="w-100" src="{{ item.cart_product.image.url }}">
                            </div>
                            <div class="col-9">
                                <p class="my-0"><strong>{{ item.cart_product.name }}</strong></p>
                                <p class="my-0 small">Size: {% if item.cart_product.has_sizes %}{{ item.product_size|upper }}{% else %}N/A{% endif %}</p>
                                <p class="my-0 small text-muted">Qty: {{ item.item_quantity }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'display_cart' %}" class="btn std-button rounded-0 text-uppercase">
                            <span class="text-uppercase">Go To Secure Checkout</span>
                            <span class="icon">
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>